/Bundler/vc2019/.vs
/Bundler/vc2019/x64
/FBXImporter/assets
/FBXImporter/vc2022/x64
/VATExporter/assets
/VATExporter/vc2019/.vs
/VATExporter/vc2019/x64
/TetCage/assets
/TetCage/*.exe
/TetCage/vc2022/.vs
/TetCage/vc2022/x64
/TetCage/vc2022/tet_cage_gui/
